.card {
    width: 70%;
    display:flex;
    justify-content: flex-start;
    margin: 20px;

}
.image {
    width: 400px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    flex: 1 0 auto;
}
.textContent {
    padding: 30px;
    width: 100%;
    flex: 2 0 auto;
}